include index.pug
block mixins
    mixin createTrWithName(tdName)
        tr(name=tdName)
            td #{tdName}
            td 0 
    mixin createGridItem(itemName, textContent, commandContent)
        .control__grid__item(onclick=`sendToSdk("${commandContent}"), activeThis("${itemName}")` name=`${itemName}`)
            p #{textContent}
block content
.content__wrap.listener__trigger(style="margin-top:30px")
    .display__grid(style="margin-bottom: 50px")
        .control__grid__item(onclick=`sendToSdk("emergency"), activeThis("emergency")` name="emergency")
            p(style="color: red") EMERGENCY
        +createGridItem("takeoff", "Takeoff", "takeoff" )
        +createGridItem("command", "Command", "command" )
        +createGridItem("stop", "Stop immediately", "stop" )
        +createGridItem("land", "Land", "land" )
        .control__grid__item()
            .special__controls 
                label(for="customDroneInput") Custom commands
                input(type="text" name="customDroneInput" onblur="sendToSdk(value)")
    .display__grid(style="margin-top: 20px")
        +createGridItem("turnccw", "Turn anti clockwise 90", "ccw 90")
        +createGridItem("forward", "Forward", "forward 30")
        +createGridItem("turncw", "Turn clockwise 90", "cw 90")
    .display__grid(style="margin-top:20px")
        +createGridItem("left", "Left", "left 30")
        +createGridItem("up", "Up", "up 20")
        +createGridItem("right", "Right", "right 30")
        +createGridItem("down", "Down", "down 30")
        +createGridItem("back", "Back", "back 30")
        .control__grid__item(onclick=`window.location='https://dl-cdn.ryzerobotics.com/downloads/Tello/Tello%20SDK%202.0%20User%20Guide.pdf'` target="_blank")
            p User Manual (Link)
    table.socketContent(name="webSocketContent") 
        tr(name="firstRow")
            td Data 
            td Value 
        +createTrWithName("pitch")
        +createTrWithName("roll")
        +createTrWithName("yaw")
        +createTrWithName("vgx")
        +createTrWithName("vgy")
        +createTrWithName("templ")
        +createTrWithName("temph")
        +createTrWithName("tof")
        +createTrWithName("h")
        +createTrWithName("bat")
        +createTrWithName("baro")
        +createTrWithName("time")
        +createTrWithName("agx")
        +createTrWithName("agy")
        +createTrWithName("agz")
    .loading_buttons(style="margin-top: 10px")
        .control__grid__item(onclick="startLoading()") 
            p Start loading data
        .control__grid__item(onclick="stopLoading()") 
            p Stop loading data